.bg-img{
	background-image: url('image/night.jpg');
	padding-top:100px;
	padding-bottom: 100px;
	font-family: 'Kanit', sans-serif;


}
.What{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: whitesmoke;
	
}
.container{
	padding-top: 50px;
}
.card-body{
	background-color: whitesmoke;
}
.card-title{
	color: dimgray;
}
.card-text{
	color: gray;
}
.card-footer{
	color: lightgray
}
.button{
	padding-bottom: 100px;
	padding-top: 10px;
	background-color: whitesmoke;
}

.Brands{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #f7f7f7;
}
.bg-color{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color:#2f2f2f;
	color: white;
}
.card-footer{
	text-align: right;
}
.Our{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: whitesmoke;
}
.L{
	padding-top: 50px;
	background-color: whitesmoke;
}
.text-muted{
	font-weight: bold;
}
.S{
	padding-top: 10px;
	color: lightgray;
	background-color:#2f2f2f;
	padding-bottom: 30px;
}
.row{
	padding-bottom: 30px;
	padding-top: 30px;
}
.btn-info{
	background-color: aquamarine;!important;
}
